[submodule "depends/mlde.l.cppmicroservices"]
	path = depends/mlde.l.cppmicroservices
	url = https://github.com/MoonLightDE/mlde.l.cppmicroservices.git
[submodule "depends/mlde.l.libmlde"]
	path = depends/mlde.l.libmlde
	url = https://github.com/MoonLightDE/mlde.l.libmlde.git
