[submodule "thirdParty/liblxqt"]
	path = thirdParty/liblxqt
	url = https://github.com/lxde/liblxqt.git
	branch = qt5
[submodule "thirdParty/libqtxdg"]
	path = thirdParty/libqtxdg
	url = https://github.com/lxde/libqtxdg.git
[submodule "depends/mlde.l.cppmicroservices"]
	path = depends/mlde.l.cppmicroservices
	url = https://github.com/MoonLightDE/mlde.l.cppmicroservices.git
