# Translations
Name[da_DK]=Konfiguration af LxQt Tastaturgenveje
Comment[da_DK]=Konfigurer globale tastaturgenveje for LxQt-skrivebordet
GenericName[da_DK]=Konfiguration af LxQt Globale Tastaturgenveje
