# Translations
Name[es_VE]=Configuracion de atajos de LxQt
Comment[es_VE]=Configura atajos de teclado para el escritorio LxQt
GenericName[es_VE]=Configuracion de Atajos globales de LxQt
