# Translations
Name[pl_PL]=Konfiguracja skrótów pulpitu LxQt
Comment[pl_PL]=Określ globalny skrót pulpitu LxQt
GenericName[pl_PL]=Konfiguracja globalnych skrótów pulpitu LxQt
