# Translations
Name[ru]=конфигурация сокращенных путей Pa3op
Comment[ru]=Глобальний конфигурация сокращенных путей для рабочий стол Pa3or
GenericName[ru]=Глобальний конфигурация сокращенных путей Pa3op
