# Translations
Name[eu]=LxQt lasterbideen konfigurazioa
Comment[eu]=Konfiguratu LxQt mahaigainaren lasterbide globalak
GenericName[eu]=LxQt lasterbide globalen konfigurazioa
