# Translations
Name[de_DE]=LxQt Hotkey Konfiguration
Comment[de_DE]=Globalen Hotkey für LxQt Desktop definieren
GenericName[de_DE]=LxQt Globale Hotkey Konfiguration
