# Translations
Name[es]=Configuración de Atajos de LxQt
Comment[es]=Configure atajos globales del Escritorio de LxQt
GenericName[es]=Configuración de Atajos Globales de LxQt
