# Translations
Name[el_GR]=Διαμόρφωση καθολικών συντομεύσεων LxQt
Comment[el_GR]=Διαμόρφωση καθολικών συντομεύσεων LxQt
GenericName[el_GR]=Διαμόρφωση καθολικών συντομεύσεων LxQt
