# Translations
Name[uk]=Налаштування скорочень LxQt
Comment[uk]=Налаштувати глобальні скорочення стільниці LxQt
GenericName[uk]=Налаштування глобальних скорочень LxQt
