# Translations
Name[it_IT]=Configurazione delle scorciatoie di LxQt
Comment[it_IT]=Configura le scorciatoie globali del desktop LxQt
GenericName[it_IT]=Configurazione delle scorciatoie globali di LxQt
