# Translations
Name[da]=Konfiguration af LxQt Tastaturgenveje
Comment[da]=Konfigurer globale tastaturgenveje for LxQt-skrivebordet
GenericName[da]=Konfiguration af LxQt Globale Tastaturgenveje
