# Translations
Name[ru_RU]=Настройка Сочетание Клавиш LxQt
Comment[ru_RU]=Настроить глобальное сочетание клавиш рабочего стола LxQt
GenericName[ru_RU]=Настройка Глобального Сочетание Клавиш LxQt
