# Translations
Name[pt]=Configuração dos atalhos do LxQt
Comment[pt]=Configurar os atalhos globais do LXDE-Qt
GenericName[pt]=Configuração dos atalhos globais do LXDE-Qt
